name: Main

on:
  push:
    branches: [main, staging, release-*]
  pull_request:
    branches: [main, staging, release-*]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: mskelton/setup-yarn@v1
        with:
          ref: ${{ github.head_ref }}
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn
      - run: yarn build
      - run: yarn lint
      - run: yarn test
